@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

nav {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  background-color: black;
}



.logo img {
  width: 100px;
  margin: auto;
}

ul {
  overflow-wrap: normal;
  display: grid;
  grid-auto-flow: column;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  font-size: 1.2vw;
  padding: 0;
}

.video-container{
  background-color: rgba(0, 0, 0, 0.184);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2%;
  margin: 20px;
}

.video-container .video {
  width: 100%;
  animation-name: example;
  animation-duration: 25s;
}

.menu {
  background-color: transparent;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: salmon;
  padding: 4px;
}

.menu__item {
  background-color: transparent;
}


.menu__item a {
  color: black;
  text-decoration: none;
}

.menu__item a:hover {
  text-decoration: underline;
}

.formulario {
  display: grid;
  justify-content: center;
  align-items: center;
  row-gap: 1vh;
  font-size: 1.4vw;
  margin-bottom: 150px;
}

.formulario button {
  
  justify-self: center;
}

.formulario label {
  
  justify-self: center;
}


.tabla th, td {
  border-bottom: 1px solid #ddd;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapa {
  background-color: rgba(0, 0, 0, 0.184);
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 2%;
  margin: 20px;
}


body{
  height: auto;
  width: auto;
  background-image: url(../img/Fondo.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

footer {
  background-color: rgba(250, 128, 114, 0.274);
}

footer section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30%;
  font-size: 1.4vw;
} 

@media (max-width: 480px) {
  .menu ul {
    margin: auto;
    display: grid;
    grid-auto-flow: row;
    font-size: 14px;
    justify-content: center;
    align-items: center;
  }

  .menu ul li {
    text-align: center;
  }

  .video-container {
    width: auto;
    height: auto;
  }

  .video-container.video {
    width: auto;
    height: auto;
  }
  .mapa {
    width: auto;
    height: auto;
  }

  .mapa .map {
    width: 100%;
    height: auto;
  }



}

@media (max-width: 780px)  {
  .tabla{
    width: auto;
  }
  .tabla td {
   font-size: 10px;
  }
  .tabla th {
   font-size: 14px;
  }
}

